{{define "tabulator_version" -}}6.3.0{{- end}}

{{- block "index" . -}}
<!DOCTYPE html>
<html>
  <head>
    <title>Alien Rock Route Table</title>
    <link href="https://unpkg.com/tabulator-tables@{{template "tabulator_version"}}/dist/css/tabulator.min.css" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript" src="https://unpkg.com/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@{{template "tabulator_version"}}/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <div style="display: none">{{ .Date }}</div>
    <div id="alien-table"></div>
    <script type="text/javascript">
      var tabledata = [
        {{range $route := .Routes -}}
        {id: {{ $route.Hash }}, added: "{{ $route.Added }}", age: ageInMonths("{{ $route.Added }}"), grade: "{{ $route.Grade }}", lane: "{{ $route.Lane }}", colour: "{{ $route.Colour }}", type: "{{ $route.Type }}"},
        {{- end}}
      ];

      var table = new Tabulator("#alien-table", {
        data: tabledata,
        persistence: {
          sort: true,
          filter: true,
          headerFilter: true
        },
        layout: "fitColumns",
        responsiveLayout: "collapse",
        initialSort: [
          {column: "added", dir: "asc"}
        ],
        columns: [
          {title: "Date added",
           field: "added",
           sorter: "date",
           sorterParams: {
             format: "yyyyMMdd"
           },
           formatter: "datetime",
           formatterParams: {
             inputFormat: "yyyyMMdd",
             outputFormat: "dd/MM/yyyy",
             invalidPlaceholder: "(invalid date)",
             timezone: "system"
           }
          },
          {
            title: "Age in months",
            field: "age",
            headerFilter: "number",
            headerFilterPlaceholder: "Filter by age",
            formatter: "progress",
            formatterParams: {
              min: 0,
              max: 5,
              color: (age) => {
                switch (Number(age)) {
                case 0:
                case 1:
                case 2:
                  return "green";
                case 3:
                  return "yellow";
                case 4:
                  return "orange";
                default:
                  return "red";
                }
              },
              legend: (v) => v > 2 ? `<span style="background-color: white">&nbsp;${v}&nbsp;</span>` : `${v}`,
              legendAlign: "center"
            },
          },
          {
            title: "Grade",
            field: "grade",
            headerFilter: "input",
            headerFilterPlaceholder: "Multi select hint: 5,5+,6a",
            headerFilterFunc: gradeFilterFunc
          },
          {title: "Lane", field: "lane", headerFilter: "number", headerFilterPlaceholder: "Filter by lane number"},
          {title: "Colour", field: "colour", headerFilter: "input", headerFilterPlaceholder: "Filter by colour"},
          {title: "Type", field: "type", headerFilter: "input", headerFilterPlaceholder: "Filter by wall type"},
          {title: "Note",
           field: "note",
           headerSort: false,
           headerFilter: "input",
           editor: "input",
           editorParams: {
             search:true,
             selectContents:true,
             clearable: true,
           }
          },
        ]
      });
    </script>
    <script type="text/javascript" src="js/notes.js"></script>
  </body>
</html>
{{- end}}
